In [1]:
#IST 718_Final Project_Global Temperature Rise _Climate change Impact
# Data sets are obtained from Kaggle and data world
# Basic idea is explore the data 
# Clean the data  and combine the data by joining the two different data files
# Time Series Analysis - ARIMA, XARIMA, RF 
# SVM's if possible
# Some better and informative visualizations
# Over all data measures, predictions and issues and other Data Model with "OSEMIN" and "7'C's" ; 

#The purpose of this notebook to load all the data sets that are considered for this project and check their descriptive statstics
#Along with the categorical vairble here is the temperature (continuous) ho this variable is changing over period of time across the world(geo locations)

In [2]:
import matplotlib.pyplot as plt
import numpy as np # linear algebra
import pandas as pd 
import matplotlib.animation as animation
from matplotlib.animation import FuncAnimation
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline         

import datetime

# Plotly to work on jupyter notebook
# installation from conda "$ conda install -c plotly plotly=5.10.0"

import chart_studio.plotly as py
import plotly.express as px
import plotly.graph_objects as go
import colorlover as cl
from plotly.subplots import make_subplots

# Colors from the website :- https://www.rapidtables.com/web/color/RGB_Color.html"
#maroon = rgb(128,0,0)
#chocolate = rgb(210,105,30)
#sky blue = rgb(135,206,235)
#olive drab = rgb(107,142,35)
#steel blue = rgb(70,130,180)

In [3]:
#Load the temperature dataset
# Read the data
#Tdata = pd.read_csv("C:/Users/praso/Documents/IST 718 Big Data Analytics/IST 718_FINAL PROJECT/GT.csv")
Tdata = pd.read_csv('GT.csv', header=0, index_col=0, parse_dates=True, squeeze=True) # Parsing the data 
#Hence pandas can understand that it is dealing with dates not with srrings
Tdata.dropna(inplace = True)

C:\Users\praso\AppData\Local\Temp\ipykernel_27584\1213166917.py:4: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  Tdata = pd.read_csv('GT.csv', header=0, index_col=0, parse_dates=True, squeeze=True) # Parsing the data

In [4]:
#Summary of Stastics from 1750 to 2010
Tdata.describe().transpose()  # to get the descriptive stastitscs summary of global temperature data

,count,mean,std,min,25%,50%,75%,max
LandAverageTemperature,1992.0,8.571583,4.263193,0.404,4.43000,8.8505,12.85850,15.482
LandAverageTemperatureUncertainty,1992.0,0.276663,0.224030,0.034,0.09975,0.2300,0.34725,1.492
LandMaxTemperature,1992.0,14.350601,4.309579,5.900,10.21200,14.7600,18.45150,21.320
LandMaxTemperatureUncertainty,1992.0,0.479782,0.583203,0.044,0.14200,0.2520,0.53900,4.373
LandMinTemperature,1992.0,2.743595,4.155835,-5.407,-1.33450,2.9495,6.77875,9.715
LandMinTemperatureUncertainty,1992.0,0.431849,0.445838,0.045,0.15500,0.2790,0.45825,3.498
LandAndOceanAverageTemperature,1992.0,15.212566,1.274093,12.475,14.04700,15.2510,16.39625,17.611
LandAndOceanAverageTemperatureUncertainty,1992.0,0.128532,0.073587,0.042,0.06300,0.1220,0.15100,0.457

In [8]:
Tdata.info()
print(Tdata.shape)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1992 entries, 1850-01-01 to 2015-12-01
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   LandAverageTemperature                     1992 non-null   float64
 1   LandAverageTemperatureUncertainty          1992 non-null   float64
 2   LandMaxTemperature                         1992 non-null   float64
 3   LandMaxTemperatureUncertainty              1992 non-null   float64
 4   LandMinTemperature                         1992 non-null   float64
 5   LandMinTemperatureUncertainty              1992 non-null   float64
 6   LandAndOceanAverageTemperature             1992 non-null   float64
 7   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8)
memory usage: 140.1 KB
(1992, 8)

In [10]:
# Missing values
Tdata.isna().sum()

LandAverageTemperature                       0
LandAverageTemperatureUncertainty            0
LandMaxTemperature                           0
LandMaxTemperatureUncertainty                0
LandMinTemperature                           0
LandMinTemperatureUncertainty                0
LandAndOceanAverageTemperature               0
LandAndOceanAverageTemperatureUncertainty    0
dtype: int64

In [11]:
type(Tdata)

pandas.core.frame.DataFrame

In [12]:
TCdata = pd.read_csv('GTC.csv', header=0, index_col=0, parse_dates=True, squeeze=True)
# Parsing the data
#TC :-s Temperature of Countries i.e, Country wise temperature

C:\Users\praso\AppData\Local\Temp\ipykernel_27584\3537034886.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  TCdata = pd.read_csv('GTC.csv', header=0, index_col=0, parse_dates=True, squeeze=True) # Parsing the data

In [13]:
TCdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 577462 entries, 1743-11-01 to 2013-09-01
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   AverageTemperature             544811 non-null  float64
 1   AverageTemperatureUncertainty  545550 non-null  float64
 2   Country                        577462 non-null  object
dtypes: float64(2), object(1)
memory usage: 17.6+ MB

In [14]:
#summary of country temperatures
TCdata.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AverageTemperature,544811.0,17.193354,10.953966,-37.658,10.025,20.901,25.814,38.842
AverageTemperatureUncertainty,545550.0,1.019057,1.201930,0.052,0.323,0.571,1.206,15.003

In [15]:
#Loading temperature of cities of various countries
TCYdata = pd.read_csv('GTCY.csv', header=0, index_col=0, parse_dates=True, squeeze=True)

C:\Users\praso\AppData\Local\Temp\ipykernel_27584\157372468.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  TCYdata = pd.read_csv('GTCY.csv', header=0, index_col=0, parse_dates=True, squeeze=True)

In [17]:
TCYdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1048575 entries, 1743-11-01 to 1784-08-01
Data columns (total 6 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   AverageTemperature             1001028 non-null  float64
 1   AverageTemperatureUncertainty  1001028 non-null  float64
 2   City                           1048575 non-null  object
 3   Country                        1048575 non-null  object
 4   Latitude                       1048575 non-null  object
 5   Longitude                      1048575 non-null  object
dtypes: float64(2), object(4)
memory usage: 56.0+ MB

In [16]:
#summary of country temperatures
TCYdata.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AverageTemperature,1001028.0,17.928991,10.358837,-31.874,12.017,20.486,25.926,39.156
AverageTemperatureUncertainty,1001028.0,1.033831,1.103003,0.036,0.348,0.607,1.380,15.030

In [18]:
#Loading temperature of cities of various with no flags
TMCdata = pd.read_csv('GTMC.csv', header=0, index_col=0, parse_dates=True, squeeze=True)

C:\Users\praso\AppData\Local\Temp\ipykernel_27584\2131035231.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  TMCdata = pd.read_csv('GTMC.csv', header=0, index_col=0, parse_dates=True, squeeze=True)

In [19]:
TMCdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 239177 entries, 1849-01-01 to 2013-09-01
Data columns (total 6 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   AverageTemperature             228175 non-null  float64
 1   AverageTemperatureUncertainty  228175 non-null  float64
 2   City                           239177 non-null  object
 3   Country                        239177 non-null  object
 4   Latitude                       239177 non-null  object
 5   Longitude                      239177 non-null  object
dtypes: float64(2), object(4)
memory usage: 12.8+ MB

In [20]:
TMCdata.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AverageTemperature,228175.0,18.125969,10.024800,-26.772,12.71,20.428,25.918,38.283
AverageTemperatureUncertainty,228175.0,0.969343,0.979644,0.040,0.34,0.592,1.320,14.037